 :root {
   --bg: #0e0f13;
   --card: rgba(22, 24, 33, .9);
   --text: #eaeaf0;
   --muted: #9ca3af;
   --primary: #25d366;
   --accent: #4f46e5;
 }

 * {
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 body {
   margin: 0;
   background: linear-gradient(160deg, #1a1f3c, #0b0f24);
   display: flex;
   justify-content: center;
   padding: 10px;
   color: var(--text);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   /* FIN control fondo imagen; */
 }

 .phone {
      width: 100%;
   max-width: 420px;
   overflow: hidden;
 }

 /* ===== HEADER ===== */
 .header {
  padding: 1px;
   margin-top: 1px;
   text-align: center;
   color: #ffffff;
 }

 .avatar {/*Control Logo*/
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: none;
   object-fit: cover;
 }

 .header h1 {
   /*Texto COMPUGUED*/
   margin: 8px 0 4px;
   font-size: 22px;
 }

 .header p {
   /*Descripcion Breve*/
   font-size: 15px;
 }

 .titulo-principal {
   font-family: 'Michroma', sans-serif;
 }
 /* FIN HEADER ===== */

 /* 2 BOTONES ACTIONS  ===== */
 .actions {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   padding: 15px 5px 20px;
 }

 .action {
   background: rgb(14, 5, 75);
   color: #fff;
   text-decoration: none;
   border-radius: 15px;
   padding: 10px 20px;
   text-align: center;
   font-size: 15px;
   font-weight: 600;
   transition: .25s;
   border: 2px solid #ffffff;
   /* grosor | estilo | color */
 }

 .action i {
   font-size: 2rem;
   padding-bottom: 0.5rem;
 }

 .action:hover {
   /* background:#2563eb; */
   transform: translateY(-4px);
   box-shadow: 0 12px 22px rgba(0, 0, 0, .25);

 }

 .action span {
   display: block;
   font-size: 14px;
   font-weight: 600;
 }

 /* BOTON-VIBRACION */
 .btn {
   position: relative;
   text-decoration: none;
   color: #ffffff;
   transition: color 350ms ease-in-out, background-color 350ms ease-in-out;
   animation: bouncy 3s infinite linear;
 }

 @keyframes bouncy {

   0%,
   40% {
     top: 0px;
   }

   43% {
     top: -15px;
   }

   46% {
     top: 0px;
   }

   48% {
     top: -7px;
   }

   50% {
     top: 0px;
   }

   100% {
     top: 0px;
   }
 }

 /* FIN BOTON-VIBRACION */


 /* FIN ACTIONS ===== */


 /* ===== RESPONSIVE ===== */
 @media(min-width:768px) {
    .phone {
    width: 100%;
   max-width: 420px;
   overflow: hidden;
   border-radius: 1rem;
   box-shadow: 0 10px 10px rgba(187, 184, 184, 0.45);
   margin: 1rem;
   border: 2px solid #190af0;
 }
 }

 @media(min-width:769px) {
   .phone {
   width: 100%;
   max-width: 420px;
   overflow: hidden;
   border-radius: 2rem;
   box-shadow: 0 10px 10px rgba(187, 184, 184, 0.45);
   margin: 1rem;
   border: 3px solid #190af0;
 }
   }

   .contorno {
     width: 100%;
     max-width: 420px;
     border-radius: 1rem;
     overflow: hidden;
     padding: 1rem;
   }
 



 @media(min-width:1600px) {
   body {
     padding: 40px;
     background-image: url("../img/fondo/joker.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
   }

   .contorno {
     width: 100%;
     max-width: 420px;
     border-radius: 1rem;
     overflow: hidden;
     /* background-color: rgb(14, 168, 143); */
     padding: 1rem;
   }


 }

 /* ===== FIN RESPONSIVE ===== */


 .container {
   max-width: 420px;
   margin: auto;
   padding: 5px;
   text-align: center;
 }

 /* SLIDER */
 .slider {
   position: relative;

 }

 .slider-window {
   width: 100%;
   height: 195px;
   overflow: hidden;
   background: #fff;
   border-radius: 10px;
 }

 .slider-track {
   display: flex;
   transition: transform 0.4s ease;
 }

 .slider-track img {
   width: 100%;
   height: 250px;
   flex-shrink: 0;
 }

 /* FLECHAS */
 .nav {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: none;
   border: none;
   font-size: 30px;
   color: transparent;
   cursor: pointer;
 }

 .prev {
   left: -5px;
 }

 .next {
   right: -5px;
 }

 .top-bar {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
 }



 /* CLIMA WEATHER */
 .weather-wrap {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 5px;
 }

 .weather {
   display: flex;
   align-items: center;
   gap: 12px;
   background: linear-gradient(135deg, #1e293b, #0f172a);
   padding: 10px 15px;
   border-radius: 14px;
   box-shadow: 0 8px 22px rgba(0, 0, 0, .4);
   animation: float 3s ease-in-out infinite;
   font-size: 14px;
 }

 .weather i {
   font-size: 22px;
 }

 .weather .temp {
   font-weight: 600;
 }

 .city {
   margin-top: 4px;
   font-size: 13px;
   color: var(--text);
   padding-left: 6px;
 }

 @keyframes float {

   0%,
   100% {
     transform: translateY(0)
   }

   50% {
     transform: translateY(-3px)
   }
 }

 .icon-btn {
   background: var(--card);
   border-radius: 1rem;
   color: var(--text);
   width: 38px;
   height: 38px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 8px 20px rgba(15, 128, 65, 0.2);
   transition: .3s;

 }

 .icon-btn i {
   font-size: 1.3rem;
 }

 .icon-btn:hover {
   transform: translateY(-3px);
   cursor: pointer;

 }

 /* WEATHER TEXT */
 /* .weather-text {
   font-size: 12px;
   color: var(--text);
   padding-left: 6px;
   margin-top: 2px;
 } */


 footer {
   text-align: center;
   font-size: 17px;
   color: var(--text);
   line-height: 1.6;
 }


.share-buttons {
   display: flex;
   flex-direction: column;
   gap: 8px;
   align-items: center;
   margin-top: 8px; /* ajusta fino si quieres */
}


 .share-buttons .icon-btn2{
  visibility: hidden;
 }


 .share-buttons2 {
   display: flex;
   flex-direction:row;
   justify-content: center;
   align-items: center;
   gap: 15px;

   /* separación entre botones */
 }


 /* TERMÓMETRO ANIMADO */
 .thermo {
   animation: thermoPulse 1.8s infinite ease-in-out;
 }

 @keyframes thermoPulse {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.15);
   }

   100% {
     transform: scale(1);
   }
 }